body{
    margin: 0;
    padding: 0;
    font-family: Arial,  sans-serif;
    background:#f3f3f3 ;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}
.container{
    text-align: center;
}
#countValue{
    font-size: 3rem;
    margin: 20px 0;
    font-weight: bold;
    transition: color 0.3s ease , transform 0.2s ease;
}
button{
    padding: 12px 20px;
    margin: 5px;
    font-size: 1.2rem;
    border: none;
    background: black;
    color: white;
    cursor: pointer;
    border-radius: 6px;
    transition: transform 0.1s ease, background 0.3s ease;
}
button:hover{
    background: #444;
    transition: 0.3s;
}
button:active{
    transform: scale(0.95);
}
button:disabled{
    background: #aaa;
    cursor:not-allowed;
    opacity: 0.6;
}
#resetBtn{
    background: red;
}
#resetBtn:hover{
    background: darkred;
}

